/* NAVBAR-START */
.nav-container{
    position: relative;
    height:60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1rem;
}

.nav-container>.logo >#logo-img,
.nav-container>.search-bar>#search-icon{
    -webkit-filter: invert(0%);
            filter: invert(0%);
    cursor: pointer;
}

.link-list{
    height: 100%;
    width:60%;
    max-width: 600px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}

.link-list > .link-item{
    text-align: center;
    position: relative;
    cursor: pointer;
    padding: .4rem .4rem;
    text-decoration: none;
    border-radius: .3125rem;
    transition: background-color 180ms ease-in;
}



.link-list > .link-item:hover{
    background-color: rgb(217, 235, 251);
}

/* LINK HOVER UNDERLINE 
.link-list > .link-item::before{
    content: '';
    width: 0%;
    position: absolute;
    background-color: bisque;
    height: .25rem;
    bottom: 0px;
    right: 0%;
    border-radius: 1rem;
    transform-origin:left ;
    -webkit-transition: width ease-in 300ms;
    -o-transition: width ease-in 300ms;
    transition: width ease-in 300ms;

}

.link-list > .link-item:hover::before{
    width: 100%;
    
}
*/
.link-list > .link-item >.link-text{
    color: rgb(26, 26, 26);
    text-align: center;
    text-transform: capitalize;
}

.active{
    background-color: rgb(201, 228, 255);
    border-radius: .3125rem;
}

.menu-btn{
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    padding: .5rem 0;
    top: 0;
    right: 0;
    display: none;
    cursor: pointer;
}
.menu-bar{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    background-color: rgb(39, 39, 39);
    margin: .5rem 0;;
    border-radius: 1rem;
    height: 0.1rem;
}
.menu-btn>#bar1,.menu-btn>#bar3{
    -webkit-transition: -webkit-transform 300ms ease-in;
    transition: -webkit-transform 300ms ease-in;
    -o-transition: transform 300ms ease-in;
    transition: transform 300ms ease-in;
    transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
    width: 2rem;
}
.menu-btn>#bar2{
    width: 1.5rem;
    -webkit-transform: translateX(33%);
        -ms-transform: translateX(33%);
            transform: translateX(33%);
    -webkit-transition: opacity 300ms,
                -webkit-transform 300ms ease-in;
    transition: opacity 300ms,
                -webkit-transform 300ms ease-in;
    -o-transition: transform 300ms ease-in,
                opacity 300ms;
    transition: transform 300ms ease-in,
                opacity 300ms;
    transition: transform 300ms ease-in,
                opacity 300ms,
                -webkit-transform 300ms ease-in;
}
.close>#bar1{
    -webkit-transform: translateY(600%) rotate(45deg);
        -ms-transform: translateY(600%) rotate(45deg);
            transform: translateY(600%) rotate(45deg);
}
.close>#bar2{
    -webkit-transform: translateX(-75%);
        -ms-transform: translateX(-75%);
            transform: translateX(-75%);
    opacity: 0;
}
.close>#bar3{
    -webkit-transform: translateY(-600%) rotate(-45deg);
        -ms-transform: translateY(-600%) rotate(-45deg);
            transform: translateY(-600%) rotate(-45deg);
}

@media screen and (max-width:600px){
    .menu-btn{
        display: inline-block;
    }
}


@media screen and (max-width:600px){
    .link-list{
        height: 100vh;
        width:100vw;
        max-width: 600px;
        gap: 1rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
        background-color: rgb(205, 255, 233);
        position: absolute;
        top:-1rem;
        right: 0;
        -webkit-transition: -webkit-transform 300ms ease-in;
        transition: -webkit-transform 300ms ease-in;
        -o-transition: transform 300ms ease-in;
        transition: transform 300ms ease-in;
        transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);
    }
}

.menu-open{
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
}